@media only screen and (max-width: 1200px) {
  .logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .logo-text-big-mobil {
    font-size: 1.5rem;
    color: #f8ba00 !important;
  }
  .logo-text-small-mobil {
    font-size: 16px;
    color: #fff;
  }
  .navbar {
    position: absolute;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .navbar-top,
  .navigation-bar {
    display: none;
  }
  .navbar-bottom {
    height: auto;
    position: relative;
  }
  .navbar-top-left {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar-top-left > a {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }

  .navbar-top-right-img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    padding: 0;
  }
  .navbar-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
  }
  .navbar-logo-container-img {
    margin: 0;
  }
  .navbar-logo-container::before {
    position: static !important;
    right: 0 !important;
    height: 0;
    transform: skewX(0) !important;
    width: 100% !important;
  }
  footer {
    padding: 5px;
    height: auto;
  }
  .footer-container {
    flex-direction: column;
  }
  footer > div {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .footer-text {
    display: none;
  }
  .standort {
    width: 100%;
  }
  .sections {
    padding: 60px 0 !important;
  }
  .banner-text {
    top: 25em !important;
  }
  .banner-text {
    width: 100%;
  }
  .banner-text > h1 {
    display: none;
  }
  .banner-side-img {
    top: 12em;
  }
  .banner-text > p {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    font-size: 1rem;
  }
  .services-text {
    font-size: 30px;
  }
  .services-images-title > h2 {
    width: 100%;
    font-size: 20px;
  }
  .galerie {
    padding: 0 !important;
    height: auto;
  }
  .galerie-container {
    align-items: center;
    padding: 2em 0 !important;
  }
  .galerie-center {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .galerie-warnung-text {
    width: 70dvw;
  }
  .galerie-pages {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .galerie-pages > .galerie-title {
    text-align: center;
    font-size: 2.5rem !important;
    color: #f8ba00;
    text-shadow: 1px 1px #000;
  }
  .galerie-pages > .galerie-images-container {
    width: 100%;
  }
  .abouts-container {
    width: 100%;
    background-image: url(../images/roni2.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100dvh;
  }
  .abouts-title {
    text-align: center;
    font-size: 2.5rem;
  }
  .abouts-text {
    padding: 30px;
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: #eee;
    margin: 120px 20px;
  }
  .abouts-img {
    display: none;
  }

  .services-container {
    padding: 0 1em;
  }
  .service-center {
    width: unset !important;
  }
  .services-images {
    flex: 1 100%;
    border-radius: 10px;
    height: 440px;
    overflow: hidden;
  }
  .mobil-navigation {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    margin-left: -2000px;
  }
  .mobil-menu-handle {
    margin-left: 0;
    transition: all 0.5s ease;
  }
  .mobil-navigation ul {
    list-style: none;
    padding: 20px;
  }
  .mobil-navigation > ul > li {
    display: flex;
    align-items: center;
    height: 34px;
    margin: 5px 0;
  }

  .mobil-navigation-icon {
    display: block;
    width: 26px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
  }
  .mobil-navigation-icon > div {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin: 3px 0;
  }
  .mobil-logo-container-mobil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #202340;
  }
  .mobil-nav-list {
    height: 46px !important;
    border-top: 1px solid #ccc !important;
  }
  .mobil-links {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: #333;
  }
  .mobil-icons {
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .contact-container {
    width: 100% !important;
    background-color: #f8ba00;
  }
  .contact-container::before {
    right: 500px;
    width: 2000px;
  }
  .contact > form {
    width: 90vw !important;
    margin: 0 !important;
    height: 100%;
    transform: translate(50%, -45%);
  }
  .contact > form input {
    margin: 1.2em 0;
  }
  input[type="submit"] {
    width: 100% !important;
  }
  .go-top {
    width: 40px;
  }
  .back-btn-container{
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  .back-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
}
@media only screen and (min-width: 1200px) and (max-width: 1465px) {
  .navigation-bar-links {
    margin: 0 10px !important;
    font-size: 1.2em !important;
  }
  .navbar-logo-container {
    width: 33em !important;
  }
  .services-container {
    padding: 0 10em !important;
  }
  .services-images {
    flex: 1 100%;
    height: 300px;
  }
  .galerie-center {
    flex-wrap: wrap;
  }
  .contact-container {
    display: none;
  }
  .contact {
    width: 100%;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
  }
  .contact > form {
    width: 80%;
    top: 0 !important;
    right: 0 !important;
    transform: translate(0, 0) !important;
    position: static;
  }
}

